/*
	Theme Name: Justine Pattison
	Theme URI: https://www.justinepattison.com/
	Description: This is a custom theme developed for Justine Pattison.
	Author: Callia Web
	Author URI: https://www.calliaweb.co.uk/

	Version: 0.0.1

	Tags: custom

	Template: genesis
	Template Version: 2.2.3

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Skip Links
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Accessible Menu
	- Site Header Navigation
	- After Header Navigation
	- Footer Navigation
- Content Area
	- Home Page
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Max-width: 1340px
	- Max-width: 1200px
	- Max-width: 1023px
	- Max-width: 860px
- Print Styles
*/


/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v4.1.1 | MIT License | http://necolas.github.io/normalize.css/ */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}template,[hidden]{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:0.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


/* ## Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	font-size: 2rem;
}

body {
	background-color: #fff;
	/*color: #6b6b6b;*/
	color: #4d4d4d;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

a,
a:active {
	color: #444b6e;
	text-decoration: none;
}

a:hover,
a:focus {
	/*color: #6b6b6b;*/
	color: #4d4d4d;
}

.entry-content a,
.entry-content a:active {
	border-bottom: 1px dotted #444b6e;
}

.entry-content a:hover,
.entry-content a:focus {
	/*border-bottom: 1px solid #6b6b6b;*/
	border-bottom: 1px solid #4d4d4d;
	text-decoration: none;
}

.entry-content .gallery a {
	border: none;
}

p {
	margin: 0 0 20px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 600;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}


/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 28px;
	font-size: 2.8rem;
}

h1.entry-title {
	margin-bottom: 28px;
}

h2 {
	font-size: 24px;
	font-size: 2.4rem;
}

h3 {
	font-size: 22px;
	font-size: 2.2rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 18px;
	font-size: 1.8rem;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

figure {
	margin: 0;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery img {
	height: auto;
	padding: 4px;
}

.gallery img:hover,
.gallery img:focus {
	border: 1px solid #999;
}

/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	/*color: #6b6b6b;*/
	color: #4d4d4d;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	padding: 10px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	/*color: #6b6b6b;*/
	color: #4d4d4d;
	opacity: 1;
}

::-webkit-input-placeholder {
	/*color: #6b6b6b;*/
	color: #4d4d4d;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #444b6e;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1;
	padding: 10px;
	text-decoration: none;
	white-space: normal;
	width: auto;
	border-radius: 5px;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus  {
	background-color: #6d728b;
	color: #fff;
}

.entry-content .button:hover,
.entry-content .button:focus {
	color: #fff;
}

.button {
	display: inline-block;
}

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
	padding: 8px 16px;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: #eee;
	border-width: 0;
	color: #777;
	cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-word;
}

tbody {
	border-bottom: 1px solid #eee;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #eee;
	padding: 6px;
}

th {
	font-weight: 400;
	padding: 0 6px;
}

td:first-child,
th:first-child {
	padding-left: 0;
}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	/*color: #6b6b6b;*/
	color: #4d4d4d;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */
.footer-widgets .widget,
.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1000px;
}

.site-inner {
	clear: both;
	padding-top: 60px;
	word-wrap: break-word;
}

.landing-page .site-inner {
	max-width: 800px;
}

/* ## Column Widths and Positions
--------------------------------------------- */
/* ### Content */

.content {
	float: right;
	width: 660px;
}

.content-sidebar .content {
	float: left;
}

.full-width-content .content {
	width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 300px;
}

.sidebar-content .sidebar-primary {
	float: left;
}


/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
	border-radius: 50%;
	float: left;
}

.author-box .avatar,
.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	background-color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 1px;
	padding: 12px 30px;
}

.author-box {
	background-color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 40px;
	padding: 60px;
}

.after-entry {
	background-color: #dad6ca;
	margin-bottom: 40px;
	padding: 20px 40px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

.archive-description {
	padding: 0 0 20px;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.entry-content .search-form,
.site-header .search-form {
	margin-bottom: 40px;
	width: 50%;
}

.site-header .search-form {
	float: right;
	margin: 12px auto 0;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.genesis-nav-menu .search input[type="search"] {
	font-size: 12px;
	padding: 7px;
}

.side-nav li.menu-item.search {
    display: none;
}

/* ## Titles
--------------------------------------------- */

.author-box-title {
	font-size: 20px;
	font-size: 2rem;
}

.entry-title {
	font-size: 28px;
	font-size: 2.8rem;
}

.grid-archive .entry-title {
	font-size: 24px;
	font-size: 2.4rem;
	margin-bottom: 0;
}

.entry-title a,
.sidebar .widget-title a {
	/*color: #6b6b6b;*/
	color: #4d4d4d;
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:focus {
	color: #444b6e;
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 36px;
	text-align: center;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 48px 24px 0;
}

.stacked-archive img.alignleft {
	margin-right: 100px;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 48px;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	margin: 0;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 28px;
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.sidebar .widget {
	word-wrap: break-word;
}

.sidebar .widget p:last-child,
.sidebar .widget ul > li:last-of-type,
.sidebar .widget-area .widget:last-of-type {
	margin-bottom: 0;
}

.sidebar .widget ul > li {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sidebar .widget ul > li:last-of-type {
	padding-bottom: 0;
}

.sidebar .widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.sidebar .widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	background: none;
	padding: 0;
	margin-bottom: 10px;
}

.featured-content .entry:last-of-type {
	margin-bottom: 0;
}

.featured-content .entry-title {
	font-size: 18px;
	font-size: 1.8rem;
}


/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## WP Recipe Maker
--------------------------------------------- */

html body .wprm-recipe-container a.button {
		color: #fff;
}

/* ## Genesis eNews Extended
--------------------------------------------- */

.sidebar .enews-widget,
.sidebar .enews-widget .widget-title {
	color: #4d4d4d;
}

.sidebar .widget.enews-widget {
	background-color: #dad6ca;
}

.sidebar .enews-widget input,
.sidebar .enews-widget input:focus {
	/*border: 1px solid #6b6b6b;*/
	border: 1px solid #4d4d4d;
}

.sidebar .enews-widget input[type="submit"] {
	background-color: #444b6e;
	color: #fff;
}

.sidebar .enews-widget input:hover[type="submit"],
.sidebar .enews-widget input:focus[type="submit"]  {
	background-color: #fff;
	/*color: #6b6b6b;*/
	color: #4d4d4d;
}

.enews-widget input {
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 0;
	width: auto;
}

.enews form + p {
	margin-top: 24px;
}

.after-entry .enews p,
.subscribe-widget-area .enews p {
	margin-bottom: 16px;
}

.after-entry .enews input,
.subscribe-widget-area .enews input {
	width: 45%;
	vertical-align: top;
	float: left;
}

.enews input {
	margin-left: 5%;
	line-height: 1;
	padding: 7px;
}

.enews input:first-of-type {
	margin-left: 0;
}

.enews .widgettitle {
	color: #4d4d4d;
	font-weight: 400;
	margin-bottom: 5px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}

/* ## Tribe Events
--------------------------------------------- */

.site-container h2.tribe-events-page-title {
	text-align: left;
}

.grid-archive .tribe-events-list .type-tribe_events {
	padding: 0;
	border-bottom: none;
	margin-bottom: 24px;
}

.grid-archive .tribe-events-list .tribe-events-event-cost {
	float: none;
	margin: 0;
}

.grid-archive .tribe-events-list .tribe-events-event-cost span {
	background-color: #fff;
	border: none;
	padding: 0;
	font-weight: 400;
	text-align: left;
}

.grid-archive .tribe-events-loop .tribe-events-event-meta {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	background-color: #fff;
	border: none;
}

.tribe-events-loop .tribe-events-event-meta .button {
	line-height: 1;
}

.single-tribe_events .site-container .tribe-events-schedule .tribe-events-cost {
	font-size: 1em;
}

.grid-archive .tribe-events-list .tribe-events-loop .tribe-events-event-image {
	width: 100%;
	margin: 0;
}

.single-tribe_events .site-container .tribe-events-event-image {
	clear: none;
	text-align: left;
	float: left;
	margin-right: 0;
	width: 30%;
}

.book-now {
	margin-top: 1em;
}

.jp-event-meta {
	float:right;
	width: 65%;
}

.tribe-events-style-full .site-container  .tribe-events-tickets {
	background: #dad6ca;
}

.tribe-events-style-full .site-container .tribe-events-tickets tbody,
.tribe-events-style-full .site-container .tribe-events-tickets td {
	border: none;
}

.tribe-events-style-full .site-container .woocommerce .quantity input {
	line-height: 1;
}

.tribe-events-style-full .site-container .tribe-tickets-remaining {
	font-size: 18px;
	font-size: 1.8rem;
	color: #4d4d4d;
}

.site-container #tribe-events .button {
	background: #444b6e;
	color: #fff;
}

.site-container #tribe-events .button:hover {
	background-color: #6d728b;
}

.tribe-events-cal-links {
	margin-bottom: 30px;
}

.tribe-events-single ul.tribe-related-events li,
.tribe-events-single ul.tribe-related-events li .tribe-related-event-info {
	background: #fff;
	padding: 0!important;
	border: none!important;
	font-size: 18px;
	font-size: 1.8rem;
}
.tribe-events-single ul.tribe-related-events .tribe-related-events-title {
	font-size: 18px!important;
	font-size: 1.8rem!important;
}

.tribe-events-single ul.tribe-related-events,
.site-container #tribe-events-content {
	margin-bottom: 0!important;
}

.site-container h2.tribe-events-tickets-title {
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: 400;
}


/* ## WooCommerce
--------------------------------------------- */
.woocommerce-breadcrumb {
	margin-bottom: 20px;
}

.woocommerce .site-container nav.woocommerce-pagination ul li a:focus,
.woocommerce .site-container nav.woocommerce-pagination ul li a:hover,
.woocommerce .site-container nav.woocommerce-pagination ul li span.current {
	background-color: #444b6e;
	color: #fff;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: #444b6e!important;
	color: #fff!important;
	font-weight: 600!important;
	font-size: 14px!important;
	font-size: 1.4rem!important;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background-color: #6d728b!important;
	color: #fff!important;
}

.woocommerce .site-container #respond input#submit.alt.disabled,
.woocommerce .site-container #respond input#submit.alt.disabled:hover,
.woocommerce .site-container #respond input#submit.alt:disabled,
.woocommerce .site-container #respond input#submit.alt:disabled:hover,
.woocommerce .site-container #respond input#submit.alt:disabled[disabled],
.woocommerce .site-container #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce .site-container a.button.alt.disabled,
.woocommerce .site-container a.button.alt.disabled:hover,
.woocommerce .site-container a.button.alt:disabled,
.woocommerce .site-container a.button.alt:disabled:hover,
.woocommerce .site-container a.button.alt:disabled[disabled],
.woocommerce .site-container a.button.alt:disabled[disabled]:hover,
.woocommerce .site-container button.button.alt.disabled,
.woocommerce .site-container button.button.alt.disabled:hover,
.woocommerce .site-container button.button.alt:disabled,
.woocommerce .site-container button.button.alt:disabled:hover,
.woocommerce .site-container button.button.alt:disabled[disabled],
.woocommerce .site-container button.button.alt:disabled[disabled]:hover,
.woocommerce .site-container input.button.alt.disabled,
.woocommerce .site-container input.button.alt.disabled:hover,
.woocommerce .site-container input.button.alt:disabled,
.woocommerce .site-container input.button.alt:disabled:hover,
.woocommerce .site-container input.button.alt:disabled[disabled],
.woocommerce .site-container input.button.alt:disabled[disabled]:hover {
	background-color: #dad6ca;
	color: #4d4d4d;
}

.woocommerce .site-container div.product .woocommerce-tabs ul.tabs li {
	background-color: #dad6ca;
}

.woocommerce .site-container .quantity .qty {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	padding: 7px;
}

.woocommerce .site-container div.product p.price,
.woocommerce .site-container div.product span.price {
	margin-bottom: 10px;
}

td.label label {
	word-break: keep-all;
}

.site-container .woocommerce-info,
.site-container .woocommerce-message {
	border-top-color: #72a694;
}

.site-container .woocommerce-info:before,
.site-container .woocommerce-message:before,
.woocommerce .site-container  div.product p.price,
.woocommerce .site-container div.product span.price {
	color: #72a694;
}

.site-container .woocommerce-error,
.site-container .woocommerce-info,
.site-container .woocommerce-message {
	background-color: #dad6ca;
}

.woocommerce-cart .site-container table.cart input {
	vertical-align: top;
}

 .woocommerce-page table.cart td.actions .coupon .input-text {
 	width: 120px;
 }

 .woocommerce-cart .site-container table.cart img {
 	width: auto;
 	max-width: 75px;
 }

.woocommerce .site-container ul.products li.product a img,
.woocommerce .site-container img,
.woocommerce-page .site-container img {
	max-width: auto;
	width: auto;
	margin-bottom: 0;
}

.woocommerce-checkout #payment ul.payment_methods li img {
	width: 32px;
}

.woocommerce .site-container ul.products li.product h3 {
	font-size: 22px;
	font-size: 2.2rem;
}

.woocommerce .site-container ul.products li.product .button {
	padding: 10px;
}

/* # Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	/*color: #6b6b6b;*/
	color: #4d4d4d;
	outline: #ccc solid 1px;
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
}

/* ## Title Area
--------------------------------------------- */

.header-image .title-area {
	margin: 0 auto;
	max-width: 600px;
	padding: 0;
}

.header-full-width .title-area {
	float: none;
	width: 100%;
}

.site-title {
	font-size: 30px;
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	/*color: #6b6b6b;*/
	color: #4d4d4d;
	text-decoration: none;
}

.header-image .site-title > a {
	background-position: center !important;
	background-size: contain !important;
	float: left;
	min-height: 131px;
	width: 100%;
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1;
	width: 100%;
}

.above-header-one .menu .menu-item,
.genesis-nav-menu .menu-item {
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: left;
	vertical-align: middle;
}

.above-header-one .menu .menu-item a,
.genesis-nav-menu a {
	color: #4d4d4d;
	text-decoration: none;
	display: block;
	padding: 2px 16px;
	margin: 8px 0;
	/*border-left: 1px solid #6b6b6b;*/
	border-left: 1px solid #4d4d4d;
	text-transform: uppercase;
}

.above-header-one .menu li:first-child > a,
.genesis-nav-menu > li:first-child > a {
	border: none;
	padding-left: 0;
}

.above-header-one .menu li:last-child > a,
.genesis-nav-menu > li:last-child > a {
	padding-right: 0;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
	color: #444b6e;
}

.genesis-nav-menu .sub-menu {
	border-top: 1px solid #eee;
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #dad6ca;
	border-top: 1px solid #E7E6DF;
	border-left: 0;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 10px 16px;
	position: relative;
	width: 200px;
	word-wrap: break-word;
	margin: 0;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -56px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	float: right;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

/* ## After Header Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #dad6ca;
	text-align: center;
}

.na-primary a {
	color: #4d4d4d;
}

/* ## Above Header One Widget Menu
--------------------------------------------- */
.above-header-one .menu .menu-item,
.above-header-one .simple-social-icons ul li {
	margin: 12px 6px;
	color: #fff;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1;
	padding: 0;
	margin: 6px;
}

.above-header-one .simple-social-icons ul li {
	margin: 6px!important;
}

.above-header-one .menu .menu-item a {
	color: #fff;
}

.above-header-one .menu .menu-item a:hover,
.above-header-one .menu .menu-item a:focus,
.above-header-one .menu .menu-item .current-menu-item > a {
	color: #dad6ca;
}

.above-header-one .menu .menu-item:last-child {
	margin-right: 0;
}

.above-header-one .simple-social-icons ul li:first-child {
	margin-left: 0!important;
}

.above-header-one .simple-social-icons ul li:first-child > a {
	padding-left: 0;
}

/* ## Footer Navigation
--------------------------------------------- */

.site-footer .genesis-nav-menu {
	margin-bottom: 10px;
	font-size: 14px;
	font-size: 1.4rem;
}

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Home Page
--------------------------------------------- */

.welcome,
.bio,
.topics,
.article-section,
.featured-images,
.subscribe-widget-area,
.featured-product-category,
.test-kitchen {
	clear: both;
	overflow: hidden;
	margin-bottom: 40px;
}

.intro,
.bio {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 24px;
	font-size: 2.4rem;
	padding-bottom: 40px;
}

.bio,
.test-kitchen,
.topics {
	border-bottom: 1px solid #eee;
}

.home-profile {
	float: left;
	width: 282px;
}

.home-video {
	float: right;
	width: 667px;
}

.home-video .fve-video-wrapper {
	margin: 0;
}

.home .content .entry:last-child {
	margin-bottom: 0;
}

.expertise-sub-pages .sub-page,
.team-members .team-member,
.woocommerce.product-columns-3 .site-container ul.products li.product,
.woocommerce-page.product-columns-3 .site-container ul.products li.product,
.tribe-events-page-template .tribe-events-loop .entry,
.events-category .tribe-events-loop .entry,
.events-categories .events-category,
.tax-jp_expertise_topic .jp_expertise,
.tax-jp_recipe_category .jp_recipes,
.tax-jp_howto_category .jp_howto,
.post-type-archive-jp_howto .jp_howto,
.expertise-topics .expertise-topic,
.recipe-categories .recipe-category,
.featured-products .product-category,
.topics .topic {
	width: 30%;
	float: left;
	margin: 0 0 20px 5%;
	margin-right: 0;
	vertical-align: top;
}

.expertise-sub-pages .sub-page:nth-of-type(3n+1),
.team-members .team-member:nth-of-type(3n+1),
.woocommerce.product-columns-3 .site-container ul.products li.product:nth-of-type(3n+1),
.woocommerce-page.product-columns-3 .site-container ul.products li.product:nth-of-type(3n+1),
.tribe-events-page-template .tribe-events-loop .entry:nth-of-type(3n+1),
.events-category .tribe-events-loop .entry:nth-of-type(3n+1),
.events-categories .events-category:nth-of-type(3n+1),
.tax-jp_expertise_topic .jp_expertise:nth-of-type(3n+1),
.tax-jp_recipe_category .jp_recipes:nth-of-type(3n+1),
.tax-jp_howto_category .jp_howto:nth-of-type(3n+1),
.post-type-archive-jp_howto .jp_howto:nth-of-type(3n+1),
.expertise-topics .expertise-topic:nth-of-type(3n+1),
.recipe-categories .recipe-category:nth-of-type(3n+1),
.featured-products .product-category:nth-of-type(3n+1),
.topics .topic:nth-of-type(3n+1) {
	clear:both;
	margin-left: 0;
}

.site-container .tribe-events-list .tribe-events-event-image {
	margin-right: 0;
}

.topic a,
.product-category a,
.recipe-image a,
.expertise-image a,
.events-category-image a,
.products .woocommerce-LoopProduct-link {
	display: block;
}

.topic a:focus,
.product-category a:focus,
.recipe-image a:focus,
.expertise-image a:focus,
.events-category-image a:focus,
.products .woocommerce-LoopProduct-link:focus {
	    outline: #ccc solid 1px !important;
}

.woocommerce-checkout #payment ul.payment_methods li {
	list-style: none;
}

.subscribe-widget-area,
.latest-article {
	background: #dad6ca;
	overflow: hidden;
	color: #4d4d4d;
}

.latest-article {
	background-color: #aedb9a;
	color: #333;
/*	background: #fff;
	border: 4px solid #aedb9a;*/

}

.latest-article img,
.latest-article a {
	border: none;
	line-height: 1;
	overflow: hidden;
	display: block;
}

.latest-article img {
	margin-bottom: 0;
}

.latest-article .article-image,
.latest-article .article-text {
	display: inline-block;
	vertical-align: top;
}

.latest-article .article-image {
	width: 30%;
}

.latest-article .article-text {
	width: 69%;
	padding: 40px 80px 12px;
	line-height: 1.625;
}

.subscribe-widget-area {
	padding: 20px 40px;
}

.touching {
	display: inline-block;
	vertical-align: top;
}

.home .featured-images .touching {
	max-width: 20%;
}

.entry-content a.grey {
	/*color: #6b6b6b;*/
	color: #4d4d4d;
	border: none;
}

a.dark-grey:hover,
a.dark-grey:focus,
a.grey:hover,
a.grey:focus {
	/*color: #6b6b6b;*/
	color: #4d4d4d;
}

a.dark-grey {
	color: #333;
}

a.dark-grey h3 {
	font-weight: 400;
}

.home .test-kitchen-logos .kitchen-logo {
	margin-right: 1%;
	max-width: calc(95% / 6);
}

.home .test-kitchen-logos .kitchen-logo:last-child {
	margin-right: 0;
}

/* ## Videos Page
--------------------------------------------- */
.entry-content .video {
	margin-bottom: 40px;
	width: 47%;
	margin-left: 5%;
	display: inline-block;
	vertical-align: top;
}

.entry-content .video:nth-of-type(2n+1) {
	margin-left: 0;
}

/* ## Entries
--------------------------------------------- */

.entry {
	background-color: #fff;
	margin-bottom: 40px;
}

.stacked-archive .entry {
	padding-bottom: 16px;
	border-bottom: 1px solid #eee;
}

.stacked-archive .entry:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color:#333;
	color: #eee;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	padding-top: 24px;
}

.single .entry-footer .entry-meta {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin: 24px 0;
	padding-bottom: 24px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a {
	background-color: #fff;
	/*color: #6b6b6b;*/
	color: #4d4d4d;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination a:hover,
.archive-pagination a:focus,
.archive-pagination .active a {
	background-color: #444b6e;
	color: #fff;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
	padding: 20px 0;
}

.entry-comments {
	padding: 20px;
}

.comment-list li {
	padding: 20px 0 0 15px;
}

.comment-list .depth-1 {
	padding-left: 0;
}

.comment-header {
	margin-bottom: 30px;
}

.comment-content {
	clear: both;
}

.comment-content ul > li {
	list-style-type: disc;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-header p {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}


/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 40px;
}

.sidebar .widget {
	background-color: #fff;
	padding: 40px;
}

.above-header-one {
	background-color: #444b6e;
	color: #fff;
}

.above-header-two {
	background: #6d728b;
	color: #fff;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1;
	padding: 10px;
}

.above-header-two a {
	color: #fff;
}

.above-header-two a:hover,
.above-header-two a:focus {
	color: #dad6ca;
}

.above-header-one .widget {
	display: inline-block;
	vertical-align: top;
}

.above-header-one .widget:nth-of-type(2n) {
	float: right;
}

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #fff;
	font-size: 18px;
	font-size: 1.8rem;
	clear: both;
	text-align: center;
}

.footer-widgets-1 {
	background: #fff;
	margin-bottom: 10px;
}

.footer-widgets-1 .widget {
	border-top: 1px solid #eee;
	padding-top: 40px;
}

.footer-widgets-2 {
	background: #6d728b;
	color: #fff;
	padding: 30px 0 20px;
	text-align:center;
}

.footer-widgets-1 .instagram-pics li {
	display: inline-block;
	vertical-align: top;
	margin-left: 2.5%;
	width: 18%;

}

.footer-widgets-1 .instagram-pics li img {
	border: 1px solid #eee;
}

.footer-widgets-1 .instagram-pics li:first-child {
	margin-left: 0;
	clear: both;
}

.footer-widgets .widgettitle {
	text-align: left;
}

.footer-widgets a {
	color: #fff;
}

.footer-widgets a:hover,
.footer-widgets a:focus {
	color: #dad6ca;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #444b6e;
	color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 20px 0;
	text-align: center;
}

.site-footer a {
	color: #fff;
}

.site-footer a:hover,
.site-footer a:focus {
	color: #dad6ca;
}

.site-footer p {
	margin-bottom: 0;
}


/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1023px) {

	.footer-widgets .widget,
	.site-inner,
	.wrap {
		max-width: 840px;
	}

	.content,
	.sidebar-primary,
	.title-area {
		width: 100%;
	}

	.site-header .wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.home-profile {
		width: 237px;
	}

	.home-video {
		width: 560px;
	}

	.genesis-nav-menu li,
	.header-image .title-area,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.nav-primary .genesis-nav-menu a {
		padding: 2px 16px;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-title {
		text-align: center;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	.menu-toggle,
	.sub-menu-toggle {
		border-width: 0;
		background-color: #fff;
		/*color: #6b6b6b;*/
		color: #4d4d4d;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	.sub-menu-toggle:hover,
	.sub-menu-toggle:focus {
		border-width: 0;
	}

	.menu-toggle {
		border-top: 1px solid #eee;
		line-height: 20px;
		position: relative;
		right: 0;
		z-index: 1000;
		width: 100%;
	}

	.site-header .menu-toggle {
		border: 0;
	}

	.menu-toggle:before,
	.menu-toggle.activated:before {
		margin-right: 10px;
		text-rendering: auto;
		-webkit-transform: translate(0, 0);
		-ms-transform:     translate(0, 0);
		transform:         translate(0, 0);
	}

	.sub-menu-toggle {
		float: right;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.sub-menu-toggle:before {
		display: inline-block;
		text-rendering: auto;
		-webkit-transform: translate(0, 0);
		-ms-transform:     translate(0, 0);
		transform:         translate(0, 0);
	}

	.sub-menu-toggle.activated:before {
		content: "\f142";
	}

	#wpadminbar .quicklinks .ab-top-secondary>li {
		display: none;
	}

}

@media only screen and (max-width: 860px) {

	body > div {
		font-size: 1.6rem;
	}

	body {
		font-size: 16px;
		font-size: 1.6rem;
	}

	.site-inner,
	.footer-widgets .widget,
	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.site-header .wrap {
		padding: 0;
	}

	.after-entry,
	.author-box,
	.comment-respond,
	.entry-comments,
	.entry-pings,
	.sidebar .widget {
		padding: 30px;
		margin-bottom: 5%;
	}

	.home .entry {
		padding-top: 0;
	}

	.sidebar {
		margin-bottom: 5%;
	}

	.pagination {
		margin: 5% auto;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	
	.post-type-archive-jp_howto .entry,
	.entry-content .video,
	.expertise-sub-pages .sub-page,
	.team-members .team-member,
	.woocommerce.product-columns-3 .site-container ul.products li.product,
	.woocommerce-page.product-columns-3 .site-container ul.products li.product,
	.latest-article .article-image,
	.latest-article .article-text,
	.tribe-events-page-template .tribe-events-loop .entry,
	.events-category .tribe-events-loop .entry,
	.events-categories .events-category,
	.tax-jp_expertise_topic .jp_expertise,
	.tax-jp_recipe_category .jp_recipes,
	.expertise-topics .expertise-topic,
	.recipe-categories .recipe-category,
	.featured-products .product-category,
	.topics .topic {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		text-align: center;
	}

	.latest-article .article-text {
		padding: 40px 15px 12px;
	}

	/*.featured-products .product-category h2,
	.topics .topic h2 {
		text-align: center;
	}*/

	.latest-article .article-image {
		text-align: center;
		display: inline-block;
	}

	.home-video,
	.home-profile {
		width: 100%;
    	text-align: center;
	}

	.home-profile {
		margin-bottom: 60px;
	}

	.site-inner {
		padding-top: 0;
	}

	.home .featured-images .touching {
		max-width: 100%;
	    text-align: center;
	    margin: 0px auto;
	    float: none;
	    display: block;
	}

	.wprm-recipe-container .wprm-recipe-justine-pattison .wprm-recipe-image-container {
	    float: none !important;
	    width: 100% !important;
	    max-width: none !important;
	    text-align: center !important;
	    margin-bottom: 10px !important;
	}

	.after-entry .enews p, .after-entry .enews input, .subscribe-widget-area .enews p, .subscribe-widget-area .enews input {
		width: 100%;
	}

	.enews input {
		margin-left: 0;
	}

	.tribe-events-list .tribe-events-event-image,
	.grid-archive .tribe-events-list .tribe-events-event-cost,
	a.tribe-events-ical {
		float: none !important;
	}

	.single-tribe_events .site-container .tribe-events-event-image,
	.jp-event-meta {
		width: 100%;
	}

	.tribe-events-single ul.tribe-related-events li {
		background: transparent !important;
	}

	.blog .post .alignleft {
		text-align: center;
		margin: 0px auto;
		float: none;
	}

	.entry-image-link {
		text-align: center;
		margin: 0px auto;
		display: block;
	}

	.woocommerce-MyAccount-navigation {
		display: block !important;
	}

	.above-header-one .widget_nav_menu {
		display: none;
	}

	.comment-list li {
		padding: 20px 0 0;
	}

}

@media only screen and (max-width: 650px) {

	.above-header-two span.alignleft,
	.above-header-two span.alignright {
		float: none!important;
		text-align: left!important;
		display: block;
	}
	.above-header-two span.alignleft {
		margin-bottom: 8px;
	}
}


/* # Print Styles
---------------------------------------------------------------------------------------------------- */

@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}

	body {
		font-family: sans-serif!important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	.site-title > a:after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
		top: -100px;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}
